# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
data/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/


# Игнориране на локалната папка с доставчици и модули
.terraform/

# Игнориране на заключващите файлове на състоянието (State Lock)
*.tfstate.lock.info
.terraform.tfstate.lock.info
*.lock.*

# Игнориране на файловете със състоянието на инфраструктурата (съдържат тайни)
*.tfstate
*.tfstate.backup

# Игнориране на конфигурационни файлове с чувствителни данни (пароли, токени)
*.tfvars
*.tfvars.json
*.tf
alert-rules-exam.yml
alertmanager-exam.yml
grafana.json
prometheus-exam.yml